<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular</title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link href="//bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/js/module.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>

</head>
<body ng-app=myApp ng-controller=mainCtrl>
  <div class="container">
    <h1 class='text-center'>Bank of CH</h1>

    <form ng-submit='createTransact()'>
      <div class="form-group">
        <label for="newTransactDate">Date (MMDDYYYY)</label>
        <input type="int" class="form-control" ng-model='newTransact.date' required>
      </div>
      <div class="form-group">
        <label for="newTransactDesc">Description</label>
        <input type="text" class="form-control" placeholder="Transaction Description." ng-model='newTransact.description' required>
      </div>
      <div class="form-group">
        <label for="newTransactMemo">Memo</label>
        <input type="text" class="form-control" placeholder="Memo for self." ng-model='newTransact.memo' required>
      </div>
      <div class="form-group">
        <label for="newTransactAmount">Amount</label>
        <input type="text" class="form-control" placeholder="Amount." ng-model='newTransact.amount' required>
      </div>


      <button type="submit" class="btn btn-primary">Add Transaction</button>
    </form>

    <table class="table table-striped">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Date</th>
        <th>Desc</th>
        <th>Memo</th>
        <th>Debits</th>
        <th>Credits</th>
        <th>Del</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "t in transacts | filter:searchFilter | orderBy:sortOrder track by $index">
        <th scope="row">{{t.id}}</th>
        <td>{{t.date}}</td>
        <td>{{t.description}}</td>
        <td>{{t.memo}}</td>
        <td>{{t.debit}}</td>
        <td>{{t.credit}}</td>
        <td>
          <button type="button" class="btn btn-default btn-sm delete" ng-click='deleteTransact(t)'>
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>

      <tr>
        <th>Totals</th>
        <td></td>
        <td></td>
        <td></td>
        <td>${{debits}}</td>
        <td>${{credits}}</td>
        <td></td>
      </tr>
      <tr>
        <th>Balance</th>
        <td></td>
        <td></td>
        <td></td>
        <td>${{total}}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    </table>
  </div>



</body>

</html>
