<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular</title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link href="//bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/js/module.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>

</head>
<body ng-app=myApp ng-controller=mainCtrl>
  <h1 class='text-center'>Bank of CH</h1>

  <div class="container">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Date</th>
        <th>Desc</th>
        <td>memo</td>
        <th>Debits</th>
        <th>Credits</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "t in transacts | filter:searchFilter | orderBy:sortOrder track by $index">
        <th scope="row">{{t.id}}</th>
        <td>{{t.date}}</td>
        <td>{{t.description}}</td>
        <td>{{t.memo}}</td>
        <td>{{t.debit}}</td>
        <td>{{t.credit}}</td>
      </tr>

      <tr>
        <th>Totals</th>
        <td></td>
        <td></td>
        <td></td>
        <td>${{totals.debit}}</td>
        <td>${{totals.credit}}</td>
      </tr>
      <tr>
        <th>Balance</th>
        <td></td>
        <td></td>
        <td></td>
        <td>${{totals.balance}}</td>
        <td></td>
      </tr>
    </tbody>
    </table>
  </div>



</body>

</html>
